<p style="text-align: center;">
    <strong>Privacy Policy</strong>
</p>
<p>This privacy policy sets out how Parveen Travels Pvt Ltd uses and protects any information that
    you give us when you use this mobile application
</p>
<p>PTPL is committed to ensuring that your privacy is protected. Should we ask you to provide
    certain information by which you can be identified when using this mobile application, and then
    you can be assured that it will only be used in accordance with this privacy statement.
</p>
<p>PTPL may change this policy from time to time by updating this page. You should check this page
    from time to time to ensure that you are happy with any changes.
</p>
<p>What we collect We may collect the following information:</p>
<p>1. Name and Sex</p>
<p>2. Phone Number</p>
<p>3. Address</p>
<p>4. Email Address</p>
<p>5. Credit Card Details</p>
<p>What we do with the information we gather We require this information to understand your needs
    and provide you with a better service, and in particular for the following reasons: Internal
    record keeping.
</p>
<p>1. We may use the information to improve our products and services</p>
<p>2. We may periodically send promotional emails about new products, special offers or other
    information which we think you may find interesting using the email address/Mobile number which
    you have provided
</p>
<p>3. From time to time, we may also use your information to contact you for market research
    purposes. We may contact you by email, phone, fax or mail. We may use the information to
    customize the mobile application according to your interests.
</p>
<p>
    <strong>Security</strong>
</p>
<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized
    access or disclosure, we have put in place suitable physical, electronic and managerial
    procedures to safeguard and secure the information we collect online.
</p>
<p>
    <strong>How we use cookies</strong>
</p>
<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once
    you agree, the file is added and the cookie helps analyse traffic or lets you know when you
    visit a particular site. Cookies allow web applications to respond to you as an individual. The
    web application can tailor its operations to your needs, likes and dislikes by gathering and
    remembering information about your preferences.
</p>
<p>We use traffic log cookies to identify which pages are being used.</p>
<p>This helps us analyse data about page traffic and improve our mobile application in order to
    tailor it to customer needs. We only use this information for statistical analysis purposes and
    then the data is removed from the system.
</p>
<p>Overall, cookies help us provide you with a better mobile application, by enabling us to monitor
    which pages you find useful and which you do not. A cookie in no way gives us access to your
    computer or any information about you, other than the data you choose to share with us.
</p>
<p>You can choose to accept or decline cookies. Most browsers automatically accept cookies, but you
    can usually modify your browser setting to decline cookies if you prefer. This may prevent you
    from taking full advantage of the mobile application.
</p>
<p>
    <strong>Controlling your personal information</strong>
</p>
<p>You may choose to restrict the collection or use of your personal information in the following
    ways Whenever you are asked to fill in a form on the mobile application, look for the box that
    you can click to indicate that you do not want the information to be used by anybody for direct
    marketing purposes
</p>
<p>If you have previously agreed to us using your personal information for direct marketing
    purposes, you may change your mind at any time by writing to or emailing us at
    customercare@parveentravels.com
</p>
<p>We will not sell, distribute or lease your personal information to third parties unless we have
    your permission or are required by law to do so. We may use your personal information to send
    you promotional information about third parties which we think you may find interesting if you
    tell us that you wish this to happen.
</p>
<p>You may request details of personal information which we hold about you under the Data Protection
    Act 1998. A small fee will be payable.
</p>
<p>If you believe that any information we are holding on you is incorrect or incomplete, please
    write to or email us as soon as possible, at the above address. We will promptly correct any
    information found to be incorrect.
</p>
<p>
    <strong>Reach Us!</strong>
</p>