<p style="text-align: center;"><strong>Terms and Conditions</strong></p>
<p>Please carefully read these terms And conditions before using this Parveen Travels (P) Ltd. mobile application (The "application"). By using the application you indicate your agreement to these terms and conditions. This application is the property of Parveen Travels (P) Ltd. ("Parveen") and its Licensors and is protected by Copyright Laws And Other Intellectual Property Laws. Parveen expressly disclaims any warranties of merchantability or fitness.</p>
<p>&nbsp;</p>
<p>1.<strong> This application will act as an online marketplace</strong>. Parveen Travels operate Buses on its own and also will act as a facilitator for customers to book tickets of other travel operators according to their choice and convenience.</p>
<p><strong>Application responsibilities include</strong></p>
<ul>
    <li>Issuing a valid ticket</li>
    <li>Facilitating refund in case of cancellation(Please see Parveen Travels ticket cancellation policy for more details) In case of other operators, the cancellation policy might differ and it will be displayed while selection</li>
    <li>Provide relevant information in case of bus delay and cancellation</li>
</ul>
<p>&nbsp;</p>
<p><strong>Application responsibilities doesn&rsquo;t include</strong></p>
<ul>
    <li>Arranging alternate service or resolving disputes in case other Bus operators change the Bus, cancel or doesn&rsquo;t depart/reach on time</li>
    <li>Resolving disputes if other Bus operators change seats</li>
    <li>Resolving disputes if other Bus operators doesn&rsquo;t provide the necessary seat quality, amenities, pick up/drop vehicle and boarding/dropping point</li>
    <li>Resolving disputes if your baggage/luggage gets stolen/lost/damaged</li>
    <li>Resolving disputes if other Bus operators&rsquo; employees behave rude or indulge in any malpractices</li>
</ul>
<p>&nbsp;</p>
<p><strong>2. Documents needed while boarding the Bus</strong></p>
<ul>
    <li>A valid ticket copy or print out or e-mail ticket confirmation</li>
    <li>Any one identify proof such as Driving license/Pan card/Voter ID, Aadhar Card/Passport</li>
</ul>
<p><strong>3. Cancellation Policy</strong></p>
<p>Parveen Travels Ticket Cancellation Policy</p>
<p>E-tickets cannot be cancelled through Online. E-tickets can be cancelled at our Own Branch counters only.</p>
<p>1. 12 hours before Departure 15% cancellation Charges</p>
<p>2. Between 12 hours &amp; 4hours before Departure 30% cancellation charges</p>
<p>3. Between 4Hours &amp; 3Hours Before Departure 60% cancellation Charges.</p>
<p>4. Last 3 Hours Before Departure - 90% cancellation charges</p>
<p>You cannot cancel tickets after the above mentioned timelines and it will be considered as not traveled/Non-Refundable</p>
<p><strong>Other Bus Operators Ticket Cancellation Policy</strong></p>
<p>The cancellation policy will differ from one operator to another. We request you to check the cancellation policy before booking the ticket.</p>
<p><strong>4. SMS/E-mail alert to customers</strong></p>
<p>In case of any technical failure while booking ticket or not receiving confirmation via email or SMS, please confirm your journey with us. In case due to some technical issues, if your money gets debited and ticket was not issued, it will be refunded back to your bank account. You need to initiate a new booking in such cases. The customer shall not hold us liable for any loss, damages, claim, expense including legal cost that may be incurred/ suffered by the customer on account of the SMS/e-mail failure delivery. The customer agrees to indemnify and hold us harmless and the SMS service provider including its officials from any damages, claims, demands, proceedings, loss, cost, charges and expenses whatsoever including legal charges and attorney fees which Parveen Travels and the SMS service provider may at any time incur, sustain, suffer or be put to as a consequence of or arising out of (i) misuse, improper or fraudulent information provided by the customer, (ii) the customer providing incorrect number or providing a number that belongs to that of an unrelated third party, and/or (iii) the customer receiving any message relating to the reservation number, travel itinerary information, booking confirmation, modification to a ticket, cancellation of ticket, change in bus schedule, delay, and/or rescheduling from redBus and/or the SMS service provider.</p>
<p><strong>5. Communication</strong></p>
<p>Parveen Travels will make best efforts to communicate any service related information via SMS/E-mail and shall not be under any obligation to confirm the authenticity of information or confirm the authenticity of the person receiving the alert.</p>
<p><strong>6. Customer data collection</strong></p>
<p>The customer acknowledges that he/she will be sent promotional emailers/SMS and will be provided separate login details. From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the application according to your interests. We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
<p><strong>All Disputes subject to Chennai Jurisdiction.</strong></p>